body{
		background-color: pink;
	}
	h2{
		color: black;
		font-family: cursive;
		font-weight: 600px;
		text-align: center;
		text-decoration: underline;
	}
	li{
		color: black;
		font-family: cursive;
		font-weight: 600px;
		text-align: center;
		text-decoration: underline;
	